@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1711209330404') format('truetype');

}
 
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.sideicon {
  color:rgb(206,144,140);
}
.lifoot {
  color:rgb(255, 255, 255);
}
/* .icon-gscholar:before {
  content: "\e601";
}

.icon-gmail:before {
  content: "\e95f";
}

.icon-github:before {
  content: "\e603";
}

.icon-map-filling:before {
  content: "\e68c";
}
 */
